appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
cffi==1.5.2
cryptography==1.2.3
decorator==4.1.1
enum34==1.1.2
Flask==0.10.1
gunicorn==19.4.5
idna==2.0
ipaddress==1.0.16
ipython==5.4.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
ndg-httpsclient==0.4.0
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
pluggy==0.4.0
prompt-toolkit==1.0.14
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.1.9
pycparser==2.14
Pygments==2.2.0
pyOpenSSL==0.15.1
pyreadline==2.1
readline==6.2.4.1
requests==2.9.1
requests-cache==0.4.13
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
tox==2.7.0
traitlets==4.3.2
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.11.4
